<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>FIICode2023 Challenge</title>
    <link rel="stylesheet" href="../static/main-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>
<body>
    <section class="header">
            <!-- The navigation menu -->
            <div class="navbar">
                <a href="/patient-home">Calendar</a>
                <a href="/patient-profile">Profile</a>
                <a href="/change-medic">Change doctor</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
            <div class="main-box">
                <div>
                    <h1 class="name">Consultation history</h1>
                    <hr>
                    <div id="table"></div>
                </div>
            </div>

    </section>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
                      new gridjs.Grid({
                        columns: [
                          { id: 'date', name: 'Date and time' },
                          { id: 'urgency', name: 'Urgency grade' },
                          { id: 'details', name: 'Details', sort: false,formatter: (_, row) => {
                                    let pdf = row.cells[2].data;
                                    const pdfURL = `{{ url_for('uploaded_consultation', filename='')}}${pdf}`;
                             return gridjs.html(`<a href='${pdfURL}'>PDF</a>`);
                                }}
                        ],
                        data: [
                          {% for consultation in medical_history %}
                            {
                              date: '{{ consultation.date_time }}',
                              urgency: '{{ consultation.urgency_grade }}',
                              details:  '{{ consultation.pdf }}.pdf'
                            },
                          {% endfor %}
                        ],
                        search: {
                          selector: (cell, rowIndex, cellIndex) => [0, 1, 2].includes(cellIndex) ? cell : null,
                        },
                        sort: true,
                        pagination: true,
                      }).render(document.getElementById('table'));
    </script>
     <script>
      window.onunload = function() {
        window.location.reload(true);
      };
    </script>
    <script>
      window.addEventListener('beforeunload', function (event) {
        // Send an AJAX request to the server to clear the session
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/clear-session', false);
        xhr.send(null);
      });
    </script>
</body>

</html>