<!DOCTYPE html>
<p style="text-align: center;">{{university_name}}</p>
<p style="text-align: center;">This is to certify that {{student_name}} has successfully completed the requirements for the degree of <em>Doctor of Medicine</em>, specializing in <em>Family Medicine</em>, from {{university_name}} in the year {{graduation_year}}.</p>
<p style="text-align: center;">{{student_name}} has demonstrated exceptional skills and knowledge in providing comprehensive medical care for individuals of all ages, from infants to the elderly. They have shown a dedication to the principles of family medicine, including continuity of care, prevention, and a focus on the whole person.</p>
<p style="text-align: center;">We are proud to confer upon {{student_name}} the title of <em>Family Doctor</em>, and we wish them success as they embark on their career in this important field.</p>
<p style="text-align: center;">{{date}}<em>{{student_name}}</em></p>
<p style="text-align: center;"><em><strong>Chancellor Seu David</strong></em></p>