<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>FIICode2023 Challenge</title>
    <link rel="stylesheet" href="../static/main-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="header">
            <!-- The navigation menu -->
            <div class="navbar">
                <a href="/medic-home">Calendar</a>
                <a href="/medic-profile">Profile</a>
                <div class="dropdown">
                    <button class="dropbtn">Patients
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/patient-list">Patient list</a>
                        <a href="/invite-patient">Invite a patient</a>
                        <a href="/transfer-patients">Transfer patients</a>
                    </div>
                </div>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
            <div class="main-box">
                  {% if patient.profile_picture==None %}
                    <img src="{{ patient.avatar(128) }}" class="profile-img" alt="{{ patient.username }}">
                {% else %}
                    <img src="../static/files/profile_picture_patient/{{patient.profile_picture}}" class="profile-img" alt="{{ patient.username }}">
                {% endif %}
                  <h1 class="name">{{patient.first_name}} {{patient.last_name}}</h1>
                  <div class="profile-box">
                    <table class="medic-table">
                        <tr>
                            <th>Username:</th>
                            <td>{{patient.username}}</td>
                        </tr>
                        <tr>
                            <th>Last name:</th>
                            <td>{{patient.last_name}}</td>
                        </tr>
                        <tr>
                            <th>First name:</th>
                            <td>{{patient.first_name}}</td>
                        </tr>
                        <tr>
                            <th>Phone number:</th>
                            <td>{{patient.phone_number}}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{patient.email}}</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>{{patient.address}}</td>
                        </tr>
                        <tr>
                            <th>Postalcode:</th>
                            <td>{{patient.postalcode}}</td>
                        </tr>
                        <tr>
                            <th>City:</th>
                            <td>{{patient.city}}</td>
                        </tr>
                        <tr>
                            <th>County:</th>
                            <td>{{patient.state}}</td>
                        </tr>
                        <tr>
                            <th>Date of birth:</th>
                            <td>{{patient.birth_date}}</td>
                        </tr>
                        <tr>
                            <th>Marital status:</th>
                            <td>{{patient.marital_status}}</td>
                        </tr>
                        <tr>
                            <th>Gender:</th>
                            <td>{{patient.gender}}</td>
                        </tr>
                        <tr>
                            <th>Occupation:</th>
                            <td>{{patient.occupation}}</td>
                        </tr>
                        <tr>
                            <th>Information sheet:</th>
                            <td><a href="{{ url_for('patient_information_sheet', patient_id=patient.id)}}">Click to open</a></td>
                        </tr>
                    </table>
                  </div>
                 <button class="back-in-btn" onclick="window.history.back()">Go Back</button>
            </div>

    </section>
     <script>
      window.onunload = function() {
        window.location.reload(true);
      };
    </script>
    <script>
      window.addEventListener('beforeunload', function (event) {
        // Send an AJAX request to the server to clear the session
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/clear-session', false);
        xhr.send(null);
      });
    </script>
</body>

</html>