<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>FIICode2023 Challenge</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header">
        <nav>
            <a href="/home"><img src="../static/logo.png"></a>
        </nav>
        <div class="hero">
            <div class="form-patient">
                <div class="login-text">
                    <h2>Sign up Step 3: Medical record</h2>
                </div>
                <p class="check-text">Please check those that apply (allergies/addictions):</p>
                <form id="login" class="patient-group" action="" method="post">
                    {% for allergy in allergies %}
                    <div class="diseases">
                        <input id="{{ allergy['name'] }}" type="checkbox" class="checkbox-patient" name="{{ allergy['name'] }}"><label for="{{ allergy['name'] }}" class="checkbox-text">{{ allergy['name'] }}</label>
                    </div>
                    {% endfor %}
                <input type="submit" class="register-btn" value="Next step">
                </form>
                    {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}
                      {% endif %}</p>
                <a href="/register-patient-3" class="back-btn">Back</a>
                <a href="/login" class="back-to-login">Already have an account?</a>
            </div>
        </div>
    </section>
     <script>
      window.onunload = function() {
        window.location.reload(true);
      };
    </script>
    <script>
      window.addEventListener('beforeunload', function (event) {
        // Send an AJAX request to the server to clear the session
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/clear-session', false);
        xhr.send(null);
      });
    </script>
</body>
</html>